.m-wrapper{
    width: 100%;
    height: 86vh;
    /* border: 1px red solid; */
    background-color: rgba(0, 0, 0, 0.425);
}

.f-wrapper{
    position: absolute;
    width: 45rem;
    height: 45rem;
    display: block;
    border-radius: .5rem;
    align-self: center;
    background-color: #fff;
    top: 20%;
    left: 35%;
    transform: translate(-50%, -50%);
    animation: dropDown 1s linear .4s  both ;
    box-shadow: 0rem 4rem 100rem #000;
}
.f-wrapper ::placeholder{
    font-size: 1.5rem;
    color: #000;
}

.signtext{
    margin-top: 2rem;
}

.f-wrapper p{
    position: absolute;
    top: 15rem;
    left: 3rem;
    color: rgba(0, 0, 0, 0.651)
}

.mail{
    position: absolute;
    top: 22rem;
    width: 40rem;
    left: 3rem;
}

#Btn2{
    position: absolute;
    top: 89%;
    width: inherit;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.726);
    cursor: pointer;
}
#Btn2 :hover{
    color: rgb(0, 0, 0)
}

#term1{
    position: absolute;
    top: 37rem;
    left: 14rem;
    cursor: pointer;
    font-size: 1.3rem;
}